@model FinalProject.Models.HomeViewModel

<html>

<head>
    <link href="~/Styles/Home.css" rel="stylesheet" />
    <title>Final Project</title>
</head>

<body>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>

    <div class="output"></div>

    <div class="home">

        <h2>Create Account</h2>

        <div class="create">
            Username:           <input type="text" class="username-create" />
            Password:           <input type="text" class="password-create" />
            Email:              <input type="text" class="emailadr-create" />
            Email Confirmation: <input type="text" class="emailcon-create" />
            <input type="button" class="create-button" value="Create Account" />
        </div>

        <h2>Log In</h2>

        <div class="login">
            Username: <input type="text" class="username-log" />
            Password: <input type="text" class="password-log" />
            <input type="button" class="login-button" value="Log In" />
        </div>

    </div>

    <div class="accountInfo">

        <h2>Account Information</h2>

        <div class="account">
            <div class="account-name">Current User: </div>
            <div class="account-email">Email: </div>
            <div class="account-password">Password: </div>
            <div class="account-attributes"> Attributes: </div>
        </div><br/>

        <div class="addUpdate">
            <div>ElementName   <input type="text" class="addElementName" /></div>
            <div>ElementValue  <input type="text" class="addElementValue" /></div>
            <input type="button" class="add-button" value="Add" />
        </div>


    </div>


</body>

</html> 