.output 
{
    display: block;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    color: red;
}

.home, .accountInfo 
{
    display: inline-block;
    margin: 5%;
    width: 90%;
    border: 1px solid black;
    border-radius: 30px;
}

.login, .create, .addInfo, .updateInfo 
{
    display: block;
    margin-left: 30%;
}

.create-button, .login-button, .add-button
{
    display: block;
    font-family: "Big Caslon";
    font-size: 15px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: aliceblue;
    margin: 3% 2% 2% 30%;
    padding: 20px;
    width: 40%;
}

h3, h2 
{
    display: block;
    text-align: center;
}

h2
{
    font-family: Bookman;
    font-size: 30px;
}

input  
{
    display: block;
    margin-left: 35%;
}

.account-name, .account-email, .account-password, .account-attributes  
{
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
